.css_id_eoar_pdf_det_label, .css_id_eoar_pdf_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_eoar_pdf_det_line, .css_id_eoar_pdf_det_line:hover {height:0px;text-align: right;}
.css_matriz_id_det_label, .css_matriz_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_matriz_id_det_line, .css_matriz_id_det_line:hover {height:0px;text-align: right;}
.css_file_name_det_label, .css_file_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_file_name_det_line, .css_file_name_det_line:hover {height:0px;text-align: right;}
.css_file_size_det_label, .css_file_size_det_label:hover {text-align: right;vertical-align: middle;}
.css_file_size_det_line, .css_file_size_det_line:hover {height:0px;text-align: right;}
.css_file_data_det_label, .css_file_data_det_label:hover {text-align: right;vertical-align: middle;}
.css_file_data_det_line, .css_file_data_det_line:hover {height:0px;text-align: right;}
.css_upload_date_det_label, .css_upload_date_det_label:hover {text-align: right;vertical-align: middle;}
.css_upload_date_det_line, .css_upload_date_det_line:hover {height:0px;text-align: right;}
.css_staff_user_det_label, .css_staff_user_det_label:hover {text-align: right;vertical-align: middle;}
.css_staff_user_det_line, .css_staff_user_det_line:hover {height:0px;text-align: right;}
.css_login_det_label, .css_login_det_label:hover {text-align: right;vertical-align: middle;}
.css_login_det_line, .css_login_det_line:hover {height:0px;text-align: right;}
.css_timestamp_det_label, .css_timestamp_det_label:hover {text-align: right;vertical-align: middle;}
.css_timestamp_det_line, .css_timestamp_det_line:hover {height:0px;text-align: right;}
.css_remark_det_label, .css_remark_det_label:hover {text-align: right;vertical-align: middle;}
.css_remark_det_line, .css_remark_det_line:hover {height:0px;text-align: right;}
