.css_mentor_id_label, .css_mentor_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mentor_id_grid_line, .css_mentor_id_grid_line:hover {vertical-align: top;text-align: left;}
.css_matriz_id_label, .css_matriz_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_matriz_id_grid_line, .css_matriz_id_grid_line:hover {vertical-align: top;text-align: left;}
.css_upload_date_label, .css_upload_date_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_upload_date_grid_line, .css_upload_date_grid_line:hover {vertical-align: top;text-align: left;}
.css_remark_label, .css_remark_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_remark_grid_line, .css_remark_grid_line:hover {vertical-align: top;text-align: left;}
.css_staff_user_label, .css_staff_user_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_staff_user_grid_line, .css_staff_user_grid_line:hover {vertical-align: top;text-align: left;}
.css_login_label, .css_login_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_login_grid_line, .css_login_grid_line:hover {vertical-align: top;text-align: left;}
.css_timestamp_label, .css_timestamp_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_timestamp_grid_line, .css_timestamp_grid_line:hover {vertical-align: top;text-align: center;}
